@use './reset';

#app {
    height:100vh;
    width: 100%;
}

.render_container {
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
}
.sky {
    height: var(--sky-height);
    background: lightblue;
}

.earth{
    height: var(--earth-height);
    background: darkgreen;
}

.horizon{
    position: relative;
}

#fox-character {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -60px;
    left: var(--fox-pos-x, 50px);
    z-index: 5;;
}