@use './reset';

#app {
    height:100vh;
    width: 100%;
    overflow: hidden;
}

.render_container {
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
}
.sky {
    height: var(--sky-height);
    background: var(--sky-color);
    position: relative;
}

.earth{
    height: var(--earth-height);
    background: var(--earth-color);
    position: relative;
}

.horizon{
    position: relative;
}

#fox-character {
    width: var(--fox-size);
    height: var(--fox-size);
    position: absolute;
    transform:
        translate(var(--fox-pos-x), calc(var(--fox-size) * -1))
        scaleX(var(--fox-scale, 1));
    transform-origin: center bottom;
    z-index: 5;;
}
